.outerContainer {
    margin: 20px;
    /* background-color: #eeeeee;
    padding: 20px;
    border-radius: 12px;
    border-style: solid;
    border-width: 4px;
    border-color: blue; */
    align-items: center;
}

.outerContainer .type-card {
    padding: 6px 22px;
    margin-left: 8px;
    border-radius: 999px;
    font-weight: bold;
    font-size: 1rem;
    display: inline-block;
    letter-spacing: 0.5px;
}

.pokemonName {
    font-size: 3rem;
    font-weight: 700;
    text-decoration: underline;
    color: #343a40;
    letter-spacing: 1px;
    line-height: 1.1;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.04);
    /* margin-bottom: 0.2em; */
}

.pokemonImage {
    width: 65%;
    height: auto;

    margin: 0;

    object-fit: contain;
    border-radius: 12px;
}

.typeList {
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.statsTable {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5rem;
    margin-bottom: 2rem;
}

.actionButton {
    background-color: #76c776;
    color: white;
    border: none;
    border-radius: 12px;
    padding: 12px 24px;
    font-size: 2rem;
    font-weight: 600;
    font-family: "Comfortaa";
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.15);
}

.actionButton:active {
    transform: translateY(2px);
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.15);
    background-color: #68b468;
}

.backButton {
    position: absolute;
    top: 1.5rem;
    left: 1rem;
    padding: 0.75rem 1rem;
    background-color: #1976d2;
    color: white;
    font-weight: 900;
    border: none;
    border-radius: 9px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
        0 2px 4px -1px rgba(0, 0, 0, 0.06);
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    z-index: 10;
}
