.statCard {
    background-color: #a0aec0;
    color: #000000; /* Changed to pure black for max contrast */
    border-radius: 8px;
    gap: 0.4rem;
    border: 1px solid #cbd5e0;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2), 0 8px 10px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 7rem;
    height: 4.5rem;
    cursor: pointer;
    font-family: "Jura", Arial, sans-serif;
}

.statName {
    font-size: 1rem;
    font-weight: 600;
}

.statValue {
    font-size: 1.5rem;
    font-weight: bold;
}

.locked {
    background-color: black;
    cursor: not-allowed;
    opacity: 0.3;
    background-image: linear-gradient(
            32deg,
            transparent 25%,
            rgba(185, 13, 13, 0.75) 47.5%,
            rgba(185, 13, 13, 0.75) 52.5%,
            transparent 52.5%
        ),
        linear-gradient(
            -32deg,
            transparent 25%,
            rgba(185, 13, 13, 0.75) 47.5%,
            rgba(185, 13, 13, 0.75) 52.5%,
            transparent 52.5%
        );
}

.highlight {
    background-color: #ffd700;
    color: #1a202c;
    transform: scale(1.1);
    transition: all 0.2s ease-in-out;
    box-shadow: 0 0 20px 5px rgba(255, 215, 0, 0.6);
    border-color: #f6e05e;
}

@media (min-width: 600px) and (min-height: 700px) {
    .statCard {
        width: 7rem;
        height: 4rem;
    }

    .statName {
        font-size: 0.8rem;
    }

    .statValue {
        font-size: 1.5rem;
    }
}
