.statusText {
    color: #a0aec0;
    font-size: 1.5rem;
    height: 1rem;
}

.waitingText::after {
    display: inline-block;
    animation: dots 1.4s infinite;
    content: ".";
    width: 0px;
}

@keyframes dots {
    0% {
        content: ".";
    }
    33% {
        content: "..";
    }
    66% {
        content: "...";
    }
}
