.bottomSpansContainer {
    display: flex;
    justify-content: space-around;
    height: 2.5rem;
}

.framedSpan {
    width: 12rem;
    background-color: #1e1e1e;
    color: #ffffff;
    padding: 3px 12px;
    border-radius: 8px;

    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    overflow: hidden;
}

.framedSpan span {
    font-family: "JetBrains Mono", monospace;
    font-size: 1.5rem;
    white-space: nowrap;
    flex-shrink: 1;
    min-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
}
